#morning{
    background-image: url('../img/morning.png');
    background-size: cover;
}

#afternoon{
    background-image: url('../img/afternoon.png');
    background-size: cover;
}

#evening{
    background-image: url('../img/evening.png');
    background-size: cover;
}

#night{
    background-image: url('../img/night.png');
    background-size: cover;
}

body{
    font-family: 'Lobster', cursive;
    color: white;
    margin-top: 5em;
    font-size: 4em;
    text-align: center;
}

